# version: '3.1'

# services:
#   app:
#     build: .
#     entrypoint: .docker/entrypoint.sh
#     container_name: prismaapi-app
#     ports:
#       - '3000:3000'
#     volumes:
#       - .:/home/node/app
#     depends_on:
#       - db
#   db:
#     build: .docker/postgres
#     container_name: apiprisma-db
#     restart: always
#     tty: true
#     ports:
#       - '5432:5432'
#     volumes:
#       - .docker/dbdata:/var/lib/postgresql/data
#     environment:
#       - POSTGRES_USER=postgres
#       - POSTGRES_PASSWORD=postgres
#       - POSTGRES_DB=prismaapi

#   pgadmin4_prisma:
#     image: dpage/pgadmin4
#     container_name: pgadmin4_prisma
#     environment:
#       PGADMIN_DEFAULT_EMAIL: admin@admin.com # Email padrão para login
#       PGADMIN_DEFAULT_PASSWORD: admin # Senha padrão para login
#     ports:
#       - '15432:80' # Porta exposta para acessar o pgAdmin
#     depends_on:
#       - app
#     networks:
#       - app_network
#     restart: unless-stopped

# networks:
#   app_network:
#     driver: bridge

# volumes:
#   postgres-app:
#     driver: local

version: '3.1'

services:
  app:
    build: .
    entrypoint: .docker/entrypoint.sh
    container_name: prismaapi-app
    ports:
      - '3000:3000'
      - '5555:5555'
    volumes:
      - .:/home/node/app
    depends_on:
      - db
    networks:
      - app_network

  db:
    image: postgres:latest # Melhor usar a imagem oficial
    container_name: apiprisma-db
    restart: always
    tty: true
    ports:
      - '5432:5432'
    volumes:
      - .docker/dbdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: prismaapi
    networks:
      - app_network

  pgadmin4_prisma:
    image: dpage/pgadmin4
    container_name: pgadmin4_prisma
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '15432:80'
    depends_on:
      - db
    networks:
      - app_network
    restart: unless-stopped

networks:
  app_network:
    driver: bridge
